# dependencies
/node_modules

# build output
/.next
/out

# production
/build

# testing
/coverage

# local env files
.env

# TypeScript
*.tsbuildinfo

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vercel
.vercel

# optional: editor settings
.vscode/
.idea/
*.swp
